.Content {
    width: 50%;
    height: 500px;
    background-color: transparent;
    margin-top: 1rem;
}
.Content_User_Post {
    width: 100%;
    height: 7.5rem;
    background-color: #242526;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 1.5px 1.5px 2px;
}
.Content_User_Post_Line {
    margin: 0 auto;
    width: 90%;
    height: 1px;
    background-color: #2b2d2e;
}

.Content_User_Post_input {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Content_User_Post_input > img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}
.Content_User_Post_input_Value {
    width: 85%;
    height: 2.5rem;
    border-radius: 25px;
    border: none;
    outline: none;
    background-color: #4e4f50;
    font-size: 1rem;
    letter-spacing: 0.5px;
    padding-left: 0.75rem;
}

.Content_User_Live {
    height: 24px;
    width: 24px;
}
.Content_User_Img {
    height: 24px;
    width: 24px;
}
.Content_User_Emoji {
    height: 24px;
    width: 24px;
}
/* ----------------- */
.Content_User_Post_icons {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Content_User_Post_icons_text:hover {
    background-color: #414242;
}
.Content_User_Post_icons_text {
    display: flex;
    align-items: center;
    padding: 0.5rem 3.2rem;
    border-radius: 10px;
    cursor: pointer;
}
.Content_User_Post_icons_text > p {
    margin-left: 0.5rem;
}
